
{%- set namespace = enum.abs_file_path | split(pat="/") | last | replace(from=".", to="_") -%}
{%- set uniquename = get_name_by_id(id=enum.id, is_unique=true) -%}
package {{ namespace }} {
enum "{{ enum.base_name }}" as {{ uniquename }} 
{% for cur_name in struct.enum_names %}
{{ uniquename }} : {{ cur_name }}
{%- endfor %}
}
