{################}
{# render_field #}
{################}
{%- macro render_field(parent_name, field) -%}
    {%- if field.field_type == "Slot" -%}
        {%- if field.type_ is object -%}
            {{parent_name}} :  {{ field.name }}  : {{ get_complex_type_name(complex_type=field.type_) }} 
        {%- else -%}
            {{parent_name}} : {{ field.name }} : {{ field.type_ }} 
        {%- endif -%}
    {%- endif -%}
    {%- if field.field_type == "Group" -%}
        {{parent_name}} : {{ field.name }} : {{ get_name_by_id(id=field.type_id) }} 
    {%- endif -%}
{%- endmacro render_field -%}
