
{%- set from = get_name_by_id(id=node.id, is_unique=true) -%}
{%- for id in ids %}
    {%- set to = get_name_by_id(id=id, is_unique=true) -%}
    {%- set name = get_name_by_id(id=id) -%}
    {%- if name is containing("$") or node.base_name is containing("$") -%}
    {%- else %}
{{ from }} --> {{ to }} : Reference
    {%- endif -%}
{%- endfor -%}
