{%- for id in ids %}
    {%- set name = get_name_by_id(id=id) -%}
    {%- if name is containing("$") or node.base_name is containing("$") -%}
    {%- else %}
`{{ node.base_name }}` --> {{ name }} : Reference
    {%- endif -%}
{%- endfor -%}
