{%- import "field.tmpl" as field_tmpl -%}

{#################}
{# render_struct #}
{#################}
{%- macro render_struct(struct) -%}

    {%- set brands = "~" -%}
    {%- for brand in struct.brands -%}
        {%- if loop.first -%}
            {%- set_global brands = brands ~ brand -%}
        {%- else -%}
            {%- set_global brands = brands ~ "," ~ brand -%}
        {%- endif -%}
    {%- endfor -%}
    {%- set brands = brands ~ "~" -%}

    {%- set namespace = struct.abs_file_path | split(pat="/") | last | replace(from=".", to="_") -%}
    namespace {{ namespace }} {
    {% if struct.brands | length > 0 %}
        class `{{ struct.base_name }}` {{ brands }}
    {%- else %}
        class `{{ struct.base_name }}` 
    {% endif %}
}
<<struct>> `{{ struct.base_name }}`

    {% for cur in struct.fields -%}
{{ field_tmpl::render_field(parent_name=struct.base_name, field=cur) }}
    {% endfor -%}
    {% for cur in struct.union_fields -%}
{{ field_tmpl::render_field(parent_name=struct.base_name, field=cur) }}
    {% endfor -%}
{% endmacro render_struct -%}

{%- if struct.base_name is containing("$") -%}
{%- else -%}
{{ self::render_struct(struct=struct) }}
{%- endif -%}

